body {
	height: 100%;
	margin: 0 auto;
	background: linear-gradient(#000, #e66465);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #123;
	font-family: Arial;
	font-size: 14px;
}

#slot-machine {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#slot-machine-inner {
	position: absolute;
	bottom: 0;
	min-width: 320px;
	box-sizing: border-box; 
	overflow: hidden;
	height: auto;
	overflow: hidden;
	padding: 20px;
	margin: 0 auto;
	background: #333;
	border-top: 8px solid #ffd700;
	border-right: 8px solid #ffd700;
	border-left: 8px solid #ffd700; 
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transition: all .3s ease-in-out;
	box-shadow: 0 10px 12px -5px #123;
	float: left;
}

#header__wrapper {
	position: absolute;
	top: 15px;
	width: 100%;
}

#welcome {
	float: left;
	margin: 0 15px;
	color: #fff;
}

#hi-score {
	float: left;
	margin: 0 15px;
	color: #fff;
}

#about, #best-results {
	float: right;
	margin: 0 15px;
	color: #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

#best-results__wrapper {
	overflow: hidden;
}

#best-results__list {
	overflow: hidden;
}

.best-players-list__row {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	width: 100%;
}

.best-players-list__row:last-child {
	margin-bottom: 0;
}

.best-players-list__col1, .best-players-list__col2, .best-players-list__col3 {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.best-players-list__col1 {
	float: left;
	background-color: #eee;
	border-radius: 50%;
	text-align: center;
}

.best-players-list__col2 {
	float: left;
	margin-left: 15px;
}

.best-players-list__col3 {
	float: right;
	text-align: right;
	min-width: 100px;
}

#log-in-out-links__wrapper {
	float: right;
	margin: 0 15px;
}

#log-in-link, #log-out-link {
	display: block;
	border-bottom: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}

#log-in-form__name, #log-in-form__password, #reg-form__name, #reg-form__password {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	margin-bottom: 15px;
	border: 1px solid #111;
	border-radius: 4px;
	padding: 0 10px;
	outline: 0 none;
}

#log-in-form__submit, #btn-log-out-confirm {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	background-color: #008000;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	border: 0 none;
	outline: 0 none;
}

#log-in-form__reg-wrapper {
	background-color: #eee;
	border-radius: 4px;
	margin-top: 20px;
	padding: 15px;
}

#log-in-form__log-in-or-reg-text {
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

#log-in-form__btn-reg, #reg-form__submit {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	background-color: #ffff00;
	color: #000;
	cursor: pointer;
	border-radius: 4px;
	border: 0 none;
	outline: 0 none;
}

#terminal {
	display: table;
	width: 100%;
	margin: 0 auto;
	height: 60px;
	background-color: #000;
	text-align: center;
	overflow: hidden;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-radius: 4px;
}

#terminal-text {
	display: table-cell;
	vertical-align: middle;
	color: #ffd000;
	font-size: 28px;
	font-weight: 700;
	text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
}

#game-info__wrapper {
	margin: 10px auto;
	color: #fff;
}

#credits-info__wrapper, #score-info__wrapper, #spins-info__wrapper, #spin-time-count-down-info__wrapper {
	display: inline-block;
	overflow: hidden;
}

#credits-info__wrapper, #score-info__wrapper {
	width: 25%;
	margin-right: 10px;
}

#spins-info__wrapper, #spin-time-count-down-info__wrapper {
	width: 10%;
	float: right;
	margin-left: 10px;
}

#credits-info__content, #score-info__content, #spins-info__content, #spin-time-count-down-info__content  {
	background-color: #000;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: right;
}

.game-info__text {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #ccc;
}

.valid {
	background-color: #d0f0c0;
}

.invalid {
	background-color: #ffcccb;
}

#reels__wrapper {
	margin: 10px auto;
	background-color: #000;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #000;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	border-radius: 4px;
	box-sizing: border-box;
}

.reel {
	position: relative;
	float: left;
	width: auto;
	border-left: 1px solid #000;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: inset 0 0 15px -5px #000;
}

.reel img {
	display: block;
	margin: 0 auto;
	max-width: 80px;
	opacity: 1;
	transition: all .2s ease-in-out;
	opacity: 1;
}

.reel__shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: inset 0px 40px 40px -15px #000, inset 0px -40px 40px -15px #000;
}

#buttons__wrapper {
	margin: 10px auto 0 auto;
	width: 100%;
	text-align: center;
}

#btn-start, #btn-stop {
	width: 33.333%;
	height: 40px;
	margin: 15px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 0 4px #000;
	font-weight: 700;
	letter-spacing: 1.5px;
	border: 0 none;
	outline: 0 none;
	box-shadow: 0 0 15px -5px #000;
}

#btn-start {
	background-color: #4ba700;
	background: linear-gradient(#8ac700, #4ba700);
}

#btn-stop {
	background-color: #cf0404;
	background: linear-gradient(#ff3019, #cf0404);
}

#btns-sound__wrapper {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

#btn-sound-on, #btn-sound-off {
    width: 20px;
    height: 20px;
    padding: 7.5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

#btn-sound-on {
    background-image: url("../img/icon_sound_on.png");
	display: none;
}

#btn-sound-off {
    background-image: url("../img/icon_sound_off.png");
}

.modal-win {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-win__wrapper {
	position: absolute;
	/*top: -100%;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	margin: auto;
	padding: 15px;
	max-width: 400px;
	border-radius: 4px;
	background-color: #eee;
	box-shadow: 0 0 15px 10px #555;
	transition: all .25s ease-in-out;
}

.modal-win__inner {
	position: relative;
	width: 100%;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 14px;
}

p {
	margin: 0 0 12px 0;
	width: 100%;
	text-align: left;
}

p:first-child {
	margin-bottom: 12px;
}

p:last-of-type {
	margin-bottom: 0;
}

p:first-of-type {
	margin-bottom: 12px;
}

.modal-win__btn-close {
	position: absolute;
	display: block;
	top: -15px;
	right: -15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-size: 15px 15px;
    border: 15px solid #eee;
    border-radius: 50%;
}

#btn-log-in-confirm, #btn-game-over-confirm {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	background-color: #008000;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	border: 0 none;
	outline: 0 none;
}

#best-results__loader {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	background-image: url("../img/loader.gif");
	background-repeat: no-repeat;
	background-size: 80px 80px;
	background-position: center;
}